<!-- footer -->
    <footer class="border-t mt-8 pt-8 pb-2 px-4 lg:px-0">
      <div class="flex">

        <div class="w-full md:w-1/4 lg:w-1/4">
          <h6 class="font-semibold text-gray-700 mb-4">Allo Tantie</h6>
          <ul>
            <li> <a href="" class="block text-gray-600 py-2">Equipe</a> </li>
            <li> <a href="" class="block text-gray-600 py-2">Mission</a> </li>
          </ul>
        </div>
        <div class="w-full md:w-1/4 lg:w-1/4">
          <h6 class="font-semibold text-gray-700 mb-4"></h6>
          <ul>
            <li> <a href="" class="block text-gray-600 py-2">Media</a> </li>
            <li> <a href="" class="block text-gray-600 py-2">Service Client</a> </li>
          </ul>
        </div>

        <div class="w-full md:w-1/4 lg:w-1/4">
          <h6 class="font-semibold text-gray-700 mb-4">Contenus</h6>
          <ul>
            <li> <a href="" class="block text-gray-600 py-2">Politique sur les Données</a> </li>
            <li> <a href="" class="block text-gray-600 py-2">Termes & Conditions d'utilisation</a> </li>
          </ul>
        </div>
        <div class="w-full md:w-1/4 lg:w-1/4">
          <h6 class="font-semibold text-gray-700 mb-4"></h6>
          <ul>
            <li> <a href="" class="block text-gray-600 py-2">Blog</a> </li>
            <li> <a href="" class="block text-gray-600 py-2">FAQs</a> </li>
          </ul>
        </div>

      </div>
    </footer>