

<!-- component -->
<div class="max-w-screen-xl mx-auto">
    <!-- header -->
    <%= render "home/shared/home_page/header" %>
    <!-- header ends here -->   
    <!-- main start here -->
    <%= render "home/shared/home_page/main" %>
    <!-- main ends here -->
    <!-- footer start here -->
    <%= render "home/shared/home_page/footer" %>
    <!-- footer ends here -->
  </div>