
<%= form_with(model: country) do |f| %>
 
  <div class="form-inputs">
    <%= f.text_field :title %>    
  </div>
  <div class="form-inputs">    
    <%= f.file_field :img_country, accept:"image/png, image/gif, image/jpeg", class:"border rounded-full p-12" %>    
  </div>

  <div class="form-actions">
    <%= f.submit "Créer un pays", class:"bg-yellow-300 font-semibold text-white border p-2 m-4" %>
  </div>
<% end %>
